body {
   font-family: Arial;
   padding-top: 100px;
}

footer {
   margin-top: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
   border-top: 1px solid #ededed;
   color: #A9A9A9;
}

#navigation{
    background: rgb(29,39,68);
    background: -webkit-linear-gradient(rgb(107,132,203), rgb(29,39,68), rgb(14,19,35));
    background: -o-linear-gradient(rgb(107,132,203), rgb(29,39,68), rgb(14,19,35));
    background: -moz-linear-gradient(rgb(107,132,203), rgb(29,39,68), rgb(14,19,35));
    background: linear-gradient(rgb(107,132,203), rgb(29,39,68), rgb(14,19,35));
}

#id_name{
    background-color: rgb(231,238,246);
}
#id_description{
    background-color: rgb(231,238,246);
}
#id_owner{
    background-color: rgb(231,238,246);
}
#id_status{
    background-color: rgb(231,238,246);
}