body {
   font-family: Arial;
   padding-top: 100px;
}

footer {
   margin-top: 40px;
   padding-top: 40px;
   padding-bottom: 40px;
   border-top: 1px solid #ededed
;
   color: #A9A9A9
;
}

#navbar{
    background-color: rgb(111,138,186);
}
#id_name{
    background-color: rgb(231,238,246);
}
#id_description{
    background-color: rgb(231,238,246);
}
#id_owner{
    background-color: rgb(231,238,246);
}
#id_status{
    background-color: rgb(231,238,246);
}