{% extends "base.html" %}
{% block content %}

    
    <h2>Workflow</h2>
    
<table>
    
    {% if user.is_authenticated %}
       {% for item in items %}
           <tr>
               <td>{{ item.name  }}</td>
               <td>{{ item.status  }}</td>
               <td>
                   <form method="GET" action="edit/{{ item.id }}"><input type="submit" value="Edit"></form>
               </td>
           </tr>
       {% empty %}
       <p>You have nothing to do.</p>
       {% endfor %}
    {% endif %}

</table>

<hr>

    <div class='parent'>
      <div class='wrapper'>
        <div id='taskcolumna' class='container'>
           {% for item in items %}
              {% ifequal item.status 'P' %}
              <div>{{ item.name }}</div>
              {% endifequal %}
           {% endfor %}
        </div>
        <div id='taskcolumnb' class='container'>
           {% for item in items %}
              {% ifequal item.status 'I' %}
              <div>{{ item.name }}</div>
              {% endifequal %}
           {% endfor %}
        </div>
        <div id='taskcolumnc' class='container'>
           {% for item in items %}
              {% ifequal item.status 'D' %}
              <div>{{ item.name }}</div>
              {% endifequal %}
           {% endfor %}
        </div>
        <div id='taskcolumnd' class='container'>
           {% for item in items %}
              {% ifequal item.status 'A' %}
              <div>{{ item.name }}</div>
              {% endifequal %}
           {% endfor %}
        </div>
      </div>
    </div>

<hr>

    <button class="button" style="vertical-align:middle"><a href="add">Add task</a></button>

{% endblock content %}