{% extends "base.html" %}
{% block content %}

    
    <h1>Workbasket</h1>
    
<table>
    
    {% if user.is_authenticated %}
       {% for item in items %}
       <div class="container">
       <tr>
           <td>{{ item.name  }}</td>
           <td>{{ item.status  }}</td>
           <td>
               <form method="GET" action="edit/{{ item.id }}"><input type="submit" value="Edit"></form>
           </td>
       </tr>
       </div>
       {% empty %}
       <p>You have nothing to do.</p>
       {% endfor %}
      {% endif %}

   </table>
    
    <hr>
    
    <a href="add">Add an Item</a>
{% endblock content %}