{% extends "base.html" %}
{% block content %}

    <h2>Workflow</h2>

<hr>
{% if user.is_authenticated %}
    <div class="parent">
        <div class="row">
            <div class="wrapper col-12">
                <div id="P" class="container">
                    {% for item in items %}
                        {% ifequal item.status 'P' %}
                            <div id="{{ item.id }}">{{ item.name }}</div>
                        {% endifequal %}
                    {% endfor %}
                </div>
                <div id="I" class="container">
                    {% for item in items %}
                        {% ifequal item.status 'I' %}
                            <div id="{{ item.id }}">
                              {{ item.name }}<br>
                              {{ item.description }}
                            </div>
                        {% endifequal %}
                    {% endfor %}
                </div>
            
                <div id="D" class="container">
                    {% for item in items %}
                        {% ifequal item.status 'D' %}
                            <div id="{{ item.id }}">{{ item.name }}</div>
                        {% endifequal %}
                    {% endfor %}
                </div>
                <div id="A" class="container">
                    {% for item in items %}
                        {% ifequal item.status 'A' %}
                            <div id="{{ item.id }}">{{ item.name }}</div>
                        {% endifequal %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <button id="additembutton"><a href="add">Add task</a></button>

    {% else %}
    <p>Please register for a free account so you can create your own workflow app.</p>
    <br>
    <p>
    The purpose of this app is to assist with managing the current tasks in a minimal easy to input design 
    </p>
{% endif %}

{% endblock content %}